repos:
- repo: local
  hooks:
  - id: editorconfig-checker
    name: editorconfig-checker
    language: system
    entry: editorconfig-checker
    types: [ text ]
  - id: nixfmt
    name: nixfmt
    language: system
    entry: nixfmt
    types: [ text ]
    files: '.*\.nix$'
